$colorPrimary: #39393d;
$colorPrimaryHover: #28282b;
$transitionNormal: 0.4s ease-in;
$boxShadowNormal: 0px 0px 20px 0px rgba(0, 0, 0, 0.15);
$boxShadowLite: 0px 0px 12px 0px rgba(0, 0, 0, 0.1);
$navFixed: 999;
$sidebarIndex: 9999;
$headingMoble: 2.5rem;
$subHeadingMobile: 1.5rem;
$descMobile: 0.9rem;
