@import "../mixin";
@import "../var";

.section-about-me {
  .about-me-center {
    .about-me-image {
      background-repeat: no-repeat;
      background-position: center;
      background-size: 90%;
      padding: 0 0 1.3rem 0;
    }
    .about-me-info {
      .btn-download-cv {
        background-color: $colorPrimary;
        @include dFlex();
        color: #fff;
        transition: $transitionNormal;
        &:hover {
          background-color: $colorPrimaryHover;
        }
      }
    }
  }
}
