@import "../../styles/config/var";
@import "../../styles/config/mixin";
// navbarTop style start
.section-navbar-top {
  @include tablate() {
    display: none;
  }

  background-color: $colorPrimary;
  color: #fff;
  .navbar-top-header {
    .icons-social {
      span {
        margin: 0 5px;
      }
    }
    .navbar-top-buttons {
      span {
        margin: 0 0.4rem;
      }
    }
  }
}
