@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap");
body {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  font-family: "Lato", sans-serif;
}
a {
  text-decoration: none;
}

.row {
  margin: 0;
}
.section {
  width: 95vw;
  margin: 0 auto;
}
