@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap");
@import "./config/var";
@import "./config/mixin";
body {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  font-family: "Open Sans", sans-serif;
  scroll-behavior: smooth;
}
a {
  text-decoration: none;
  color: #000;
  &:hover {
    color: $colorPrimary;
  }
}

ul {
  list-style: none;
}
a {
  text-decoration: none;
}
img {
  max-width: 100%;
  height: auto;
}
.row {
  margin: 0;
}
// reuseable class //
.section {
  width: 95vw;
  margin: 0 auto;
}
h1 {
  font-size: calc(1.375rem + 1.5vw);
}
@media (min-width: 1200px) {
  h1 {
    font-size: 2.5rem;
  }
  h2 {
    font-size: 2rem;
  }
  h3 {
    font-size: 1.8rem;
  }
  h4 {
    font-size: 1.5rem;
  }
}

html.dark {
  body {
    background-color: #0e0e0e;
    color: #fff;
  }
}
