@import "../../styles/config/var";
@import "../../styles/config/mixin";
.section-singleBlog {
  .section-singleBlog-breadcumb {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .container-singleBlog {
  }
}
