@import "../var";
@import "../mixin";

.section_navbar {
  background-color: #000;
  color: #fff;
  .navbar-center {
    @include dFlex(center, space-between);
  }
  .button-hire-me {
    background-color: $colorPrimary;
  }
}
