@import "../mixin";
@import "../var";

// section heading style start
.section-heading-border {
  position: relative;
  width: 100px;
  margin: 10px auto;
  .line {
    position: absolute;
    width: 20px;
    height: 7px;
    background-color: #9b9b9b;
    top: 0;
    border-radius: 10px;
  }
  .line1 {
    left: 0%;
  }
  .line2 {
    left: 50%;
    transform: translateX(-50%);
    background-color: #5e5e5e;
    width: 40px;
  }
  .line3 {
    right: 0;
  }
}

// section heading style end
